/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body{
  width: 100wh;
  overflow-x: hidden;
}

/* Header-section */

header{
  height: auto;
  width: 100%;
  position: relative;
  background:linear-gradient(180deg,#4415FE,#5737D6);
  /* position: absolute; */
}
.nav-bar{
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  display: block;
  height: 3rem;
  width: 9rem;
  padding-left: 1.5rem;
}
.logo img{
  width:100%;
  height:100%;

}

nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  padding: 1.5rem;
  color: #fff;
  font-size: 18px;
}
.nav-item-active{
  padding: 0.8rem 1.5rem;
  text-align: center;
  color:#4415FE;
  background: #fff;
  border-radius: 5px;
  font-size: 18px;
}
svg{
  margin: 10px;
  height: 18px;
  width: 18px;
}


.hero{
  display: flex;
  width: 100%;
}
.header-image{
  text-align: right;
  float: right ;
  float: top;
  height:80vh;
  width: 50%;  
  overflow: hidden;
}
.header-image img{
  width: 100%;
  height: 100%;
  object-position: center;
}

.header-text{
  padding: 8rem 4rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-text h2{
  font-size: 45px;
  color: #ffffff;
}
.header-text p{
  padding-top: 1rem;
  font-size: 20px;
  color: #fff;
}

/* Companies */

.companies{
  display: flex;
  gap: 3rem;
  padding:1rem 3rem;
  font-size: 28px;
  
}
.companies a{
  text-decoration: none;
  font-family: "Righteous";
  color:#000;
}

/* Api-cateries */
.api{
  padding: 7rem 4rem;
  font-size:22px;
}

/* Cards */

.cards{
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  gap: 1.2rem;
}

.card{
  padding: 2rem 1rem;
  border-radius: 10px;
  background-color:rgb(242, 242, 242);
  box-shadow: 7px 5px 5px gray ;
}
.card:hover{
  border: ridge;
  background-color:#a09898;
}
.card h3{
  font-size: 25px;
}
.card p{
  font-size: 15px;
  width: 200px;
  height: 50px;
}
.card-active{
  padding: 2rem 1rem;
  border-radius: 10px;
  background: rgb(242, 242, 242);
  box-shadow: 7px 5px 5px gray ;
}
.card-active:hover{
  border: ridge;
  background-color:#a09898;
}

.card-active h3{
  font-size: 25px;
}
.card-active p{
  font-size: 15px;
  width: 200px;
  height: 50px;
}
.greater-than{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 1rem;
  background:#4415FE;
  height:40px;width:40px;
  border: 1px solid black;border-radius: 100%;

}
#greater{
  padding: 1rem;
  margin-left: 0;
}

/* Latest blog article */

.blog-heading{
  padding-left: 4rem;
}
.blog-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 4rem;
  gap: 2rem;
}
.blog-card{
  display: flex;
  gap:0;
}

.blog-contents{
  display: flex;
  flex-direction: column;
  
}
.blog-content{
  padding: 2rem 2rem;
  background-color: rgb(242, 242, 242);
  height: 220px;
  width: 300px;
  
}
.blog-content h6{
  color:#4415FE; 
}
.blog-content h3{
  padding-top: 10px;
  padding-bottom: 10px;
  /* font-family: "Righteous"; */
  font-weight: none;
}
.blog-content small{
  font-size:12px;
}
.blog-bottom{
  position: relative;
  left: 2.5rem;bottom: 1.7rem;
  height: 50px;width:50px;
}
.blog-author{
  position: relative;
  left: 3.8rem; bottom: 2.4rem;
}
.blog-author b{
  /* border: 1px solid black; */
  width: 100px;
  height: 30px;
  font-size: 13px;
  display: inline-block;
}

/*faq-section*/

.faq-section{
  height: auto;
  background:#E9EDFF;
  display: flex;
  
  
}
.faq-image{
  width: 50%;
}
.faq-image img{
  height: 100%;
  width: 100%;
  margin-left: 0;
  position: relative;
}

.faq-content{
  padding-top: 3rem;
  width: 50%;
  padding-left:4rem;
  padding-right: 1rem;
}
.faq-content h2{
  font-size: 40px;
  font-weight:600 ;
  font-family: "poppins",;
}
.faq-content h5{
  padding-top:0.8rem;
  color:#1f1f1f;
}
.faq-content h4{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.faq-content button{
  padding: 8px 12px;
  border-radius: 5px;
  background:#4415FE;
  border: none;
  color: #fff;
  margin-bottom: 1rem;
}

/* Download section */

.download-section { 
  display:flex;
  justify-content: space-between;
  padding:2rem 4rem;
} 
.download-content{
  color: #000000;
  font-weight: 900;
}
.download-content span{
  color:#1f1f1f;
  font-weight:normal;
}
.download-email{ 
  border-radius:30px;
  background:#E9EDFF;
  padding-left: 3rem;
  padding-right:0;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
input{
  width:25.5rem;
  padding:1rem 0rem;
  border:none;
  background:#E9EDFF;
}
input::placeholder{
  color: black;
}
button{
  width: 13rem;
  padding: 1rem 3rem;
  background:#4415FE;
  color:#fff;
  border: none;
  border-radius: 40px;
  font-size: 18px;
}
/* Footer section */

.footer-section{
  display: flex;
  align-items: center;
  width:100%;
  height: auto;
  background:linear-gradient(180deg,#4415FE,#5737D6);
  justify-content: space-between;
  
}

.footer-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 4rem;
}
.footer-left img{
  height:3rem;
  width:8rem;
}
.footer-left ul {
  display:flex;
  list-style: none;
  gap: 1.5rem;
  padding: 1rem;
  color: #fff;
  font-size:15px;
}

.footer-right{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding-right: 4rem;
}
img{
  margin-left: 1.5rem;
}
.logos-list{
  display:flex;
  gap: 1rem;
}
.logos-list li{
  display:flex;
  list-style: none;
  padding-top: 1rem;
  color: white;
  font-size: 15px;
}


/* media queries */
@media only screen  and (max-width: 1024px){
  .header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .blog-cards{
    display: flex;
    flex-direction: column;
  }
  .cards{
    flex-wrap: wrap;
  }

  .footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
  .footer-left{
    
  }
}
@media only screen and (min-width:360px) and (max-width: 768px){
  .nav-item{
    display: none;
  }
  .hero{
    display: flex;
    width: 100%;
    flex-direction: column;
    position:contain;
  }
  .header-text{
    width: fit-content;
  }
  .header-image{
    width: 100%;
  }
  .cards{
    display:flex;
    flex-direction: column;
    text-align: center;
  }
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 242, 242);
  }

  .blog-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
    align-items: center;
    justify-content: center;
  }
  .blog-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:330px;
    height:auto;
  }
  .blog-image{
    width:100%;
    height:250px;
    overflow: hidden;

  }
  
  .blog-image img{
    width: 100%;
    height:100%;
    object-position: center;
    margin-left:0
  }
  .blog-content{
    padding:1rem;
  }
  .faq-section{
    flex-direction: column-reverse;
    width: 100%;
    overflow: hidden;
  }
  .faq-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .faq-image{
    width: 100%;
  }
  
  .download-section{
    flex-direction: column;
  }

  .download-email{
    
    padding: 2rem 3rem;
  }
  .forms{
    display: flex;
  }
  input{
    width:none;
  }
  .list{
    display: flex;
    flex-direction: column;
  }
  .greater-than{
    display: none;
  }
  .forms{
    display: flex;
    flex-direction: column;
  }
  input{
    width: 12rem;
  }
  .blog-author{
    width: 25px;
  }
  .companies{
    font-size: 18px;
  }
  .header-text{
    padding:3rem
  }
  
}
