/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body{
  width: 100wh;
  overflow-x: hidden;
}

/* Header-section */

header{
  height: 80vh;
  width: 100%;
  background:linear-gradient(180deg,#4415FE,#5737D6);
  position: absolute;
}

nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  margin: 2rem 4rem;;
  color: #fff;
  font-size: 18px
}
.nav-item-active{
  padding: 5px;
  height: 20px;
  width: 70px;
  text-align: center;
  color:#4415FE;
  background: #fff;
  border-radius: 5px;
}
svg{
  margin: 10px;
  height: 18px;
  width: 18px;
}
.logo{
  top:3rem;
  left: 4rem;
  position: absolute;
  height: 60px;
}

.header-image{
  text-align: right;
  float: right ;
  float: top;
  margin-top:-28rem; 
  height:80vh;
  width: 100vh;
  position: sticky;
}

.header-text{
  padding: 8rem 4rem;
}
.header-text h2{
  font-size: 45px;
  color: #ffffff;
}
.header-text p{
  padding-top: 1rem;
  font-size: 20px;
  color: #fff;
}

/* Companies */

.companies{
  display: flex;
  gap: 3rem;
  margin-left: 4rem;
  padding-top: 85vh;
  font-size: 28px;
  
}
.companies a{
  text-decoration: none;
  font-family: "Righteous";
  color:#000;
}

/* Api-cateries */
.api{
  padding: 7rem 4rem;
  font-size:22px;
}

/* Cards */

.cards{
  display: flex;
  padding-top: 2rem;
  gap: 1.2rem;
}

.card{
  
  padding: 2rem 1rem;
  border-radius: 10px;
  background-color:rgb(242, 242, 242);
  box-shadow: 7px 5px 5px gray ;
}
.card:hover{
  border: ridge;
  background-color:#a09898;
}
.card h3{
  font-size: 25px;
}
.card p{
  font-size: 15px;
  width: 200px;
  height: 50px;
}
.card-active{
  padding: 2rem 1rem;
  border-radius: 10px;
  background: rgb(242, 242, 242);
  box-shadow: 7px 5px 5px gray ;
}
.card-active:hover{
  border: ridge;
  background-color:#a09898;
}

.card-active h3{
  font-size: 25px;
}
.card-active p{
  font-size: 15px;
  width: 200px;
  height: 50px;
}
.greater-than{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 1rem;
  background:#4415FE;
  height:40px;width:40px;
  border: 1px solid black;border-radius: 100%;

}
#greater{
  padding: 1rem;
  margin-left: 0;
}

/* Latest blog article */

.blog-heading{
  padding-left: 4rem;
}
.blog-cards{
  display: flex;
  /* height: 320px;
  width:1000px; */
  margin: 3rem 4rem;
  gap: 2rem;
}
.blog-card{
  display: flex;
  gap:0;
}
.blog-contents{
  display: flex;
  flex-direction: column;
  
}
.blog-content{
  padding: 2rem 3rem;
  background-color: rgb(242, 242, 242);
  height: 220px;
  width: 300px;
  
}
.blog-content h6{
  color:#4415FE; 
}
.blog-content h3{
  padding-top: 10px;
  padding-bottom: 10px;
  /* font-family: "Righteous"; */
  font-weight: none;
}
.blog-content small{
  font-size:12px;
}
.blog-bottom{
  position: relative;
  /* top: 260vh;
  left: 22rem; */
  /* top: 16rem;
  right:22rem; */
  left: 2.5rem;bottom: 1.7rem;
  height: 50px;width:50px;
}
.blog-author{
  position: relative;
  left: 3.8rem; bottom: 2.4rem;
  /* top: 8rem;
  right: 11.5em; */
  
}
.blog-author b{
  /* border: 1px solid black; */
  width: 100px;
  height: 30px;
  font-size: 13px;
  display: inline-block;
}

/*faq-section*/

.faq-section{
  height: 400px;

  background:#E9EDFF;
  /* width: 90wh; */
  display: flex;
  padding-left:4rem;
}

.faq-image img{
  
  height:58vh;
  width: 48rem;
  position: relative;
  left: 12rem;
}

.faq-content{
  padding-top: 3rem;

}
.faq-content h2{
  font-size: 40px;
  font-weight:600 ;
  font-family: "poppins",;
}
.faq-content h5{
  padding-top:0.8rem;
  color:#1f1f1f;
}
.faq-content h4{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.faq-content button{
  padding: 8px 12px;
  border-radius: 5px;
  background:#4415FE;
  border: none;
  color: #fff;
}

/* Download section */

.download-section { 
  margin: 8rem 4rem;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 20px; 
  width: 92vw; 
} 
.download-content{
  color: #000000;
  font-weight: 900;
}
.download-content span{
  color:#1f1f1f;
  font-weight:normal;
}
.download-email{ 
  border-radius:30px;
  background:#E9EDFF;
  padding-left: 3rem;
  padding-right:0;
}

form {
  display: inline-block;
  border: none;
}
input{
  width:25.5rem;
  border:none;
  background:#E9EDFF;
}
input::placeholder{
  color: black;
}
button{
  width: 13rem;
  padding: 1rem 3rem;
  background:#4415FE;
  color:#fff;
  border: none;
  border-radius: 40px;
  font-size: 18px;
}
/* Footer section */

.footer-section{
  display: flex;
  height: 40vh;
  width: 100vw;
  background:linear-gradient(180deg,#4415FE,#5737D6);
  justify-content: space-between;
  position:sticky;
}

.footer-left{
  margin: 6rem 4rem;
}
.footer-left ul {
  display:flex;
  list-style: none;
  gap: 1.5rem;
  padding: 1rem;
  color: #fff;
  font-size:15px;
}

.footer-right{
  margin-top: 3rem;
  margin-right: 4rem;
  
}
img{
  margin-left: 1.5rem;
}
.logos-list{
  display:flex;
  gap: 1rem;
}
.logos-list li{
  display:flex;
  list-style: none;
  padding-top: 1rem;
  color: white;
  font-size: 15px;
}
